* {
  box-sizing: border-box;
}

body,
.container {
  margin: 0;
  padding: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  font-size: 1em;
}

h3 {
  border-bottom: 1px solid purple;
  border-top: 1px solid purple;
  line-height: 1.8em;
  margin: 0;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.col {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.col-12 {
  width: 100%;
}

.col-3 {
  width: 25%;
}

.col-9 {
  width: 75%;
}

.col-8 {
  width: 66.6667%;
}

.col-auto {
  width: calc(100% - 136px);
}

@media (min-width: 800px) {
  .col-md-6 {
    width: 50%;
  }
  .col-md-4 {
    width: 33.3333%;
  }
  .col-md-8 {
    width: 66.6667%;
  }
  .col-md-9 {
    min-width: 75%;
  }
}

.elevator-div {
  max-height: 100vh;
}

.elevator-div:first-child {
  border-right: 1px solid orange;
}

.logs-div {
  height: calc(100vh - 2.2em);
  flex: 0 1 auto;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.logs-div table {
  transition: all 0.3s ease-in;
}

.log-indicator {
  border-right: 1px solid red;
  width: 30px;
  font-size: 1.6em;
}

td,
tr,
.log-indicator,
.log-status {
  height: 1em;
  margin: 0;
  padding: 0;
  font-size: 1.1em;
}

.log-status {
  text-align: justify;
  padding: 0.25em 0.5em;
  font-family: "Consolas";
}

.buttons-div {
  border-right: 1px solid blue;
  height: calc(100vh - 2.2em);
  max-width: 140px;
}

.w-100 {
  width: 100% !important;
}

.w-auto {
  width: auto !important;
}

.font-1em {
  font-size: 1.58em !important;
}

.button-div {
  /* this only applies to a single button */
  border: 1px solid #aaa;
  width: auto;
  margin: 0.5em 4px;
  border-radius: 0.5em;
  box-sizing: border-box;
  justify-content: space-between;
}

.double {
  width: 50px !important;
  margin-right: 0.125em;
  margin-left: 0.125em;
}

.single {
  width: 97% !important;
}

.left {
  margin-left: 0.125em;
}

.right {
  margin-right: 0.125em;
}

.selected {
  color: hsl(210, 100%, 40%) !important;
  text-shadow: hsla(210, 100%, 20%, 0.3) 0 -1px 0, hsl(210, 100%, 85%) 0 2px 1px,
    hsla(200, 100%, 80%, 1) 0 0 5px, hsla(210, 100%, 50%, 0.6) 0 0 20px !important;
}

.current {
  background-color: rgb(255, 234, 118);
  border-color: hsl(51, 100%, 53%);
}

button.current-button {
  color: hsl(51, 100%, 53%);
  text-shadow: hsla(51, 100%, 20%, 0.3) 0 -1px 0, hsl(51, 100%, 85%) 0 2px 1px,
    hsla(41, 100%, 80%, 1) 0 0 5px, hsla(51, 100%, 50%, 0.6) 0 0 20px !important;
}

.paused {
  color: hsl(10, 100%, 53%) !important;
  text-shadow: hsla(10, 100%, 20%, 0.3) 0 -1px 0, hsl(10, 100%, 85%) 0 2px 1px,
    hsla(0, 100%, 80%, 1) 0 0 5px, hsla(10, 100%, 50%, 0.6) 0 0 20px !important;
}

.running {
  color: hsl(140, 100%, 53%) !important;
  text-shadow: hsla(140, 100%, 20%, 0.3) 0 -1px 0, hsl(140, 100%, 85%) 0 2px 1px,
    hsla(130, 100%, 80%, 1) 0 0 5px, hsla(140, 100%, 50%, 0.6) 0 0 20px !important;
}

table {
  width: 100%;
  border-bottom: 1px solid green;
  border-collapse: collapse;
  transition: all 0.5s ease-in;
}

tbody {
  border-bottom: 1px dashed green;
  font-weight: 100;
}

tbody {
  transition: all 0.3s;
}

.floor-number {
  display: inline-block;
  background: purple;
  color: white;
  font-weight: bold;
  min-width: 25px;
  text-align: center;
  border-radius: 0.125em;
  padding: 0 0.2em;
}

/* --------------------------------------ELEVATOR BUTTONS METAL-----------------------------------*/
/* globals */

@import url(https://fonts.googleapis.com/css?family=Droid+Sans:regular,bold);
@import url(prefixes.css);

html {
  font: 62.5%/1 "Droid Sans", "Lucida Sans Unicode", "Lucida Grande", Verdana,
    Arial, Helvetica, sans-serif;
  background-color: hsla(0, 0%, 90%, 1);
  background-image: linear-gradient(
    -45deg,
    hsla(0, 0%, 0%, 0),
    hsla(0, 0%, 0%, 0.05)
  );
  background-size: 5px;
}

button {
  border: none;
  display: block;
}

a {
  text-decoration: none;
  display: block;
}

/* Metal ------------------------- */

.metal {
  position: relative;
  outline: none;

  font: bold 2em/0.625em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  text-align: center;
  color: hsla(0, 0%, 20%, 1);
  text-shadow: hsla(0, 0%, 40%, 0.5) 0 -1px 0, hsla(0, 0%, 100%, 0.6) 0 2px 1px;

  background-color: hsl(0, 0%, 90%);
  box-shadow: inset hsla(0, 0%, 15%, 1) 0 0px 0px 4px,
    /* border */ inset hsla(0, 0%, 15%, 0.8) 0 -1px 5px 4px,
    /* soft SD */ inset hsla(0, 0%, 0%, 0.25) 0 -1px 0px 7px,
    /* bottom SD */ inset hsla(0, 0%, 100%, 0.7) 0 2px 1px 7px;
  /* top HL hsla(0, 0%, 0%, 0.15) 0 -5px 6px 4px, */
  /* outer SD hsla(0, 0%, 100%, 0.5) 0 5px 6px 4px; outer HL */

  transition: all 0.2s;
}

/* Linear ------------------------- */

.metal.linear {
  width: 35px;
  height: 35px;
  border-radius: 0.25em;
  background-image: -webkit-repeating-linear-gradient(
      left,
      hsla(0, 0%, 100%, 0) 0%,
      hsla(0, 0%, 100%, 0) 6%,
      hsla(0, 0%, 100%, 0.1) 7.5%
    ),
    -webkit-repeating-linear-gradient(left, hsla(0, 0%, 0%, 0) 0%, hsla(
            0,
            0%,
            0%,
            0
          )
          4%, hsla(0, 0%, 0%, 0.03) 4.5%),
    -webkit-repeating-linear-gradient(left, hsla(0, 0%, 100%, 0) 0%, hsla(
            0,
            0%,
            100%,
            0
          )
          1.2%, hsla(0, 0%, 100%, 0.15) 2.2%),
    linear-gradient(
      180deg,
      hsl(0, 0%, 78%) 0%,
      hsl(0, 0%, 90%) 47%,
      hsl(0, 0%, 78%) 53%,
      hsl(0, 0%, 70%) 100%
    );
}

/* active ------------------------- */

.metal:active {
  color: hsl(210, 100%, 40%);
  text-shadow: hsla(210, 100%, 20%, 0.3) 0 -1px 0, hsl(210, 100%, 85%) 0 2px 1px,
    hsla(200, 100%, 80%, 1) 0 0 5px, hsla(210, 100%, 50%, 0.6) 0 0 20px;
  box-shadow: inset hsla(210, 100%, 30%, 1) 0 0px 0px 4px,
    /* border */ inset hsla(210, 100%, 15%, 0.4) 0 -1px 5px 4px,
    /* soft SD */ inset hsla(210, 100%, 20%, 0.25) 0 -1px 0px 7px,
    /* bottom SD */ inset hsla(210, 100%, 100%, 0.7) 0 2px 1px 7px,
    /* top HL */ hsla(210, 100%, 75%, 0.8) 0 0px 3px 2px,
    /* outer SD */ hsla(210, 50%, 40%, 0.25) 0 -5px 6px 4px,
    /* outer SD */ hsla(210, 80%, 95%, 1) 0 5px 6px 4px; /* outer HL */
}
